name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3

      - name: Ruff check
        run: uv run ruff check .

      - name: Ruff format
        run: uv run ruff format --diff .

      - name: Ty check
        run: uv run ty check .
